/* RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-around;
}  

button {
    padding: 0.5em;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 1em;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

h2 {
    color: #333;
}

/* APP.JS */

.appContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  
}

/* FORM INPUT COMPONENT */

.formInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 1px blue;
  width: 30%;
  height: 90vh;
  padding: 20px;
}

.formInputTitle {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* CV PREVIEW */

.CvPreview {
  border: solid 1px blue;
  width: 30%;
  height: 90vh;
  padding: 20px;
}

